.summit-view-uptime-robot
    .flag
        padding 10px
        line-height 32px
        .summit-view-uptime-robot-monitor
        .summit-view-uptime-robot-uptime
            display inline
            vertical-align middle
        .summit-view-uptime-robot-uptime
            float right
            font-size 2em
            &:after
                content '%'
    .pulse
        animation summit-view-uptime-robot-ring-pulse 1s ease
        animation-iteration-count infinite

@-webkit-keyframes summit-view-uptime-robot-ring-pulse
    0%
        transform scale(1, 1)
        opacity .0
    50%
        opacity .1
    100%
        transform scale(2, 2)
        opacity .0
